.about {
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-left: 40%;
}

.item {
  padding: 10px 0;
}

.editProfileBtn {
  width: fit-content;
  padding: 10px;
  height: fit-content;
  border-radius: 10px;
}

.avatar {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}
