.main {
  display: flex;
  flex-direction: column;
}

.repo {
  margin-right: 10px;
  padding: 10px 0;
  border-bottom: 1px solid grey;
}

.search {
  width: fit-content;
  height: 38px !important;
}

.topRow {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.noData {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterSection {
  display: flex;
}

.repoTypeSelector {
  padding-left: 10px;
  width: 200px;
}
